BDV_USERNAME=
BDV_PASSWORD=
BDV_HEADLESS=false
BDV_LOGIN_URL=https://bdvenlinea.banvenez.com/
BDV_STORAGE_STATE_PATH=.auth/bdv-storage-state.json
BDV_ARTIFACTS_DIR=artifacts
BDV_TIMEOUT_MS=45000
BDV_SLOW_MO_MS=250
BDV_TRACE_ON=true
BDV_EXPECTED_OWNER=
FIREBASE_SERVICE_ACCOUNT_PATH=../serviceAccountKey.json
FIREBASE_PROJECT_ID=manzanoapp-2f775
BDV_SYNC_TO_FIRESTORE=false

MERCANTIL_USERNAME=
MERCANTIL_PASSWORD=
MERCANTIL_HEADLESS=false
MERCANTIL_LOGIN_URL=https://www30.mercantilbanco.com/login
MERCANTIL_STORAGE_STATE_PATH=.auth/mercantil-storage-state.json
MERCANTIL_ARTIFACTS_DIR=artifacts/mercantil
MERCANTIL_TIMEOUT_MS=45000
MERCANTIL_SLOW_MO_MS=250
MERCANTIL_TRACE_ON=true
MERCANTIL_LOCALE=es-VE
MERCANTIL_TIMEZONE=America/Caracas
MERCANTIL_USER_AGENT=
MERCANTIL_USE_MOBILE=true
MERCANTIL_BROWSER_EXECUTABLE=C:/Program Files/Google/Chrome/Application/chrome.exe
MERCANTIL_PERSISTENT_PROFILE_DIR=.auth/mercantil-chrome-profile
MERCANTIL_CDP_URL=http://127.0.0.1:9222
MERCANTIL_PAYOUT_ALIAS=Emma Quintero
MERCANTIL_PAYOUT_LAST4=2823
MERCANTIL_PAYOUT_CONCEPT=pago
MERCANTIL_PAYOUT_AMOUNT=0.01
MERCANTIL_SECURITY_BEST_FRIEND=
MERCANTIL_SECURITY_SPOUSE_ID_LAST4=
MERCANTIL_SECURITY_FATHER_PROFESSION=
MERCANTIL_SECURITY_MET_SPOUSE=
MERCANTIL_SECURITY_MET_SPOUSE_YEAR=
